<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load staticfiles %}
    <link rel='stylesheet' type='text/css' href="{% static 'basic/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Отзывы</title>
</head>
<body>
    <p class="thanks">Спасибо за отзыв!</p>
    <div class="handshake">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
    </div>

    <div class="wrap"> 
        <a href="{% url 'reviews:reviews_page' %}" class="strange-ancor">
            <div class="buttons">
                Назад
            </div>
        </a>
    </div>
    <div class="wrap">
        <a href="{% url 'basic:main_page' %}">
            <div class="buttons">
                Главная
            </div>
        </a>
    </div>

    <script type="text/javascript" src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <script type="text/javascript" src="{% static 'basic/script.js' %}"></script>
</body>
</html>